:host {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    user-select: none;
}
.es-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding-bottom: 2rem;
    max-width: 400px;
    max-height: 500px;
    .mat-icon {
        font-size: 6rem;
        line-height: 6rem;
        height: 6rem;
        width: 6rem;
        margin: auto;
        color: #c74e67;
    }
    .es-title {
        font-size: 1.3rem;
        font-weight: 500;
        color: #c74e67;
        margin: 5px 0;
    }
    .es-subtitle {
        color: #907a90;
    }
}