<div id="lg-background"></div>
<div id="lg-container">
  <div id="lg-logo"></div>
  <span class="spacer"></span>  
  <div id="lg-subheader">Welcome to</div>
  <div id="lg-header">Coffee Paste</div>
  <span class="spacer"></span>
  <form id="lg-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email">
      <mat-error>
        <ng-container *ngIf="loginForm.controls.email.errors?.invalid">That account <strong>doesn't exist</strong></ng-container>
        <ng-container *ngIf="loginForm.controls.email.errors?.pattern">Enter a <strong>valid email address</strong></ng-container>
        <ng-container *ngIf="loginForm.controls.email.errors?.required">Email is <strong>required</strong></ng-container>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input [attr.type]="passwordType" matInput placeholder="Password" formControlName="password">
      <mat-icon id="visibility-icon" (click)="togglePasswordVisibility($event)" matSuffix>{{ visibilityIcon }}</mat-icon>
      <mat-error>
        <ng-container *ngIf="loginForm.controls.password.errors?.invalid">Password is <strong>invalid</strong></ng-container>
        <ng-container *ngIf="loginForm.controls.password.errors?.required">Password is <strong>required</strong></ng-container>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary">LOGIN</button>
  </form>
  <span class="spacer"></span>  
  <div id="lg-sign-up">Don't have an account? <a routerLink="/signup" mat-button color="primary">Sign Up!</a></div>
  <span class="spacer flex-2"></span>  
</div>