:host {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    width: 80px;
    flex-shrink: 0;
    z-index: 3;
    background: #ce5169;
    background: -webkit-linear-gradient(to right bottom, #ce5169, #a64262); 
    background: linear-gradient(to right bottom, #ce5169, #a64262);
}
#app-menu-logo {
    cursor: pointer;
    display: flex;
    height: 3.5rem;
    padding: 1rem 0;
    align-items: center;
    &:focus {
        outline: none;
    }
    img {
        height: 50px;
        margin: auto;
        width: 50px;
    }
}
.app-menu-dot {
    display: none;
    background-color: #f6d282;
    border-radius: 50%;
    height: 12px;
    width: 12px;
    position: absolute;
    right: -6px;
    top: -6px;
    border: 2px solid #ce5169;
    transition: 150ms ease-out;
}
.app-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    cursor: pointer;
    height: 80px;
    transition: 150ms ease-out;
    user-select: none;
    &.active,  &:hover {
        background-color: #a64262;
        color: #f6d282;
        outline: none;
        .app-menu-dot {
            border-color: #a64262;
        }
    }
}
.app-menu-icon-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto auto 2px auto;
}
.app-menu-title {
    margin: 3px auto auto auto;
    text-align: center;
    font-size: .8rem;
    line-height: 1rem;
}