<div id="app-menu-logo" routerLink="/">
  <img [src]="logoUrl" matTooltip="Coffee Paste home" matTooltipPosition="right">
</div>
<div class="app-menu-item" mat-ripple matRippleColor="rgba(255, 255, 255, 0.1)"
  matTooltip="Tooltip" matTooltipPosition="right" matTooltipShowDelay="150">
  <div class="app-menu-item-wrapper">
    <span class="app-menu-dot"></span>
    <mat-icon>equalizer</mat-icon>
  </div>
</div>
<span class="spacer"></span>
<div class="app-menu-item" mat-ripple matRippleColor="rgba(255, 255, 255, 0.1)"
  matTooltip="Settings" matTooltipPosition="right" matTooltipShowDelay="150">
  <div class="app-menu-item-wrapper">
    <span class="app-menu-dot"></span>
    <mat-icon>settings</mat-icon>
  </div>
</div>