<div id="app-menu-logo" routerLink="/">
  <img [src]="logoUrl" title="Home">
</div>
<div class="app-menu-item" mat-ripple matRippleColor="rgba(255, 255, 255, 0.1)"
  routerLink="/dashboard" routerLinkActive="active">
  <div class="app-menu-icon-wrapper">
    <span class="app-menu-dot"></span>
    <mat-icon>dashboard</mat-icon>
  </div>
  <span class="app-menu-title">Dashboard</span>
</div>
<div class="app-menu-item" mat-ripple matRippleColor="rgba(255, 255, 255, 0.1)">
  <div class="app-menu-icon-wrapper">
    <span class="app-menu-dot"></span>
    <mat-icon>forum</mat-icon>
  </div>
  <span class="app-menu-title">Chat</span>
</div>
<span class="spacer"></span>
<div class="app-menu-item" mat-ripple matRippleColor="rgba(255, 255, 255, 0.1)"
  routerLink="/admin" routerLinkActive="active">
  <div class="app-menu-icon-wrapper">
    <span class="app-menu-dot"></span>
    <mat-icon>settings</mat-icon>
  </div>
  <span class="app-menu-title">Application Settings</span>
</div>
<app-user></app-user>